{{>header}}
    <div class="col-md-3 col-sm-6">
       <div class="single-shop-product">
           <div class="product-upper">
               <img src="img/Servidor.png" alt="">
           </div>
           <h2><a href="">Servidor 7 dias</a></h2>
           <div class="product-carousel-price">
               <ins>$3.000</ins> <del>$3.500</del>
           </div>  
           <div class="product-option-shop">
               <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="https://bit.ly/3bvFUrI"><i style="font-size:24px" class="fa">&#xf232;</i></a>
           </div>                       
       </div>
    </div>
    <div class="col-md-3 col-sm-6">
       <div class="single-shop-product">
           <div class="product-upper">
               <img src="img/Servidor.png" alt="">
           </div>
           <h2><a href="">Servidor 15 dias</a></h2>
           <div class="product-carousel-price">
               <ins>$5.000</ins> <del>$6.000</del>
           </div>  
           
           <div class="product-option-shop">
               <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="https://bit.ly/35gjARR"><i style="font-size:24px" class="fa">&#xf232;</i></a>
           </div>                       
       </div>
    </div>
    <div class="col-md-3 col-sm-6">
       <div class="single-shop-product">
           <div class="product-upper">
               <img src="img/Servidor.png" alt="">
           </div>
           <h2><a href="">Servidor 30 dias</a></h2>
           <div class="product-carousel-price">
               <ins>$8.000</ins> <del>$10.000</del>
           </div>  
           
           <div class="product-option-shop">
               <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="https://bit.ly/3lZD572"><i style="font-size:24px" class="fa">&#xf232;</i></a>
           </div>                       
       </div>
    </div>
    <div class="col-md-3 col-sm-6">
       <div class="single-shop-product">
           <div class="product-upper">
               <img src="img/Servidor.png" alt="">
           </div>
           <h2><a href="">metodo netfree</a></h2>
           <div class="product-carousel-price">
               <ins>$60.000, Con vps</ins> <del>$65.000</del>
           </div>  
           <div class="product-option-shop">
            <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="https://bit.ly/3lVmNfy"><i style="font-size:24px" class="fa">&#xf232;</i></a>
        </div>                       
    </div>
{{>footer}}