<!DOCTYPE html>
<html>
<head>
	<title>login</title>
	<link rel="stylesheet" type="text/css" href="css/logincss.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>

	<section id="loginadm">
		<img id="logo_loginadm" src="img/logo.jpg">
		<form method="post" action="/home" class="form-group">	
			<input type="text" name="user" placeholder="Usuario" class="form-control">
			<input type="password" name="pass" placeholder="Contraseña" class="form-control">
			<input type="submit" name="enviar" value="Ingresar" class="form-control">
		</form>
	</section>

</body>
</html>