{{>header}}
<div class="col-md-3 col-sm-6">
   <div class="single-shop-product">
       <div class="product-upper">
           <img src="img/netflix.png" alt="">
       </div>
       <h2><a href="">1 Pantalla</a></h2>
       <div class="product-carousel-price">
           <ins>$10.000</ins> <del>$11.000</del>
       </div>  
       <div class="product-option-shop">
           <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="https://bit.ly/357octA"><i style="font-size:24px" class="fa">&#xf232;</i></a>
       </div>                       
   </div>
</div>
<div class="col-md-3 col-sm-6">
   <div class="single-shop-product">
       <div class="product-upper">
           <img src="img/netflix.png" alt="">
       </div>
       <h2><a href="">2 Pantallas</a></h2>
       <div class="product-carousel-price">
           <ins>$18.000</ins> <del>$20.000</del>
       </div>  
       
       <div class="product-option-shop">
           <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="https://bit.ly/3m0XOYu"><i style="font-size:24px" class="fa">&#xf232;</i></a>
       </div>                       
   </div>
</div>
<div class="col-md-3 col-sm-6">
   <div class="single-shop-product">
       <div class="product-upper">
           <img src="img/netflix.png" alt="">
       </div>
       <h2><a href="">3 Pantallas</a></h2>
       <div class="product-carousel-price">
           <ins>$26.000</ins> <del>$29.000</del>
       </div>  
       
       <div class="product-option-shop">
           <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="https://bit.ly/2QYD9pB"><i style="font-size:24px" class="fa">&#xf232;</i></a>
       </div>                       
   </div>
</div>
<div class="col-md-3 col-sm-6">
   <div class="single-shop-product">
       <div class="product-upper">
           <img src="img/netflix.png" alt="">
       </div>
       <h2><a href="">cuenta netflix</a></h2>
       <div class="product-carousel-price">
           <ins>$32.000</ins> <del>$35.000</del>
       </div>  
       <div class="product-option-shop">
        <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="https://bit.ly/3lSTJpb"><i style="font-size:24px" class="fa">&#xf232;</i></a>
    </div>                       
</div>
</div>
<div class="col-md-3 col-sm-6">
    <div class="single-shop-product">
        <div class="product-upper">
            <img src="img/netflix.png" alt="">
        </div>
        <h2><a href="">metodo netflix</a></h2>
        <div class="product-carousel-price">
            <ins>$80.000</ins> <del>$90.000</del>
        </div>  
        <div class="product-option-shop">
         <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="https://bit.ly/35b13Gu"><i style="font-size:24px" class="fa">&#xf232;</i></a>
     </div>                       
 </div>
 </div>
{{>footer}}