{{>header}}
<div class="col-md-3 col-sm-6">
   <div class="single-shop-product">
       <div class="product-upper">
           <img src="img/prime.png" alt="">
       </div>
       <h2><a href="">1 activación smart tv</a></h2>
       <div class="product-carousel-price">
           <ins>$2.000</ins> <del>$3.000</del>
       </div>  
       <div class="product-option-shop">
           <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="https://bit.ly/2QYGZPx"><i style="font-size:24px" class="fa">&#xf232;</i></a>
       </div>                       
   </div>
</div>

<div class="col-md-3 col-sm-6">
   <div class="single-shop-product">
       <div class="product-upper">
           <img src="img/prime.png" alt="">
       </div>
       <h2><a href="">múltiple activación smart tv</a></h2>
       <div class="product-carousel-price">
           <ins>$3.000</ins> <del>$3.500</del>
       </div>  
       
       <div class="product-option-shop">
           <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="https://bit.ly/3jLb7dw"><i style="font-size:24px" class="fa">&#xf232;</i></a>
       </div>                       
   </div>
</div>

<div class="col-md-3 col-sm-6">
   <div class="single-shop-product">
       <div class="product-upper">
           <img src="img/prime.png" alt="">
       </div>
       <h2><a href="">cuenta prime video</a></h2>
       <div class="product-carousel-price">
           <ins>$5.000</ins> <del>$5.500</del>
       </div>  
       
       <div class="product-option-shop">
           <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="https://bit.ly/2Z9Cgik"><i style="font-size:24px" class="fa">&#xf232;</i></a>
       </div>                       
   </div>
</div>

<div class="col-md-3 col-sm-6">
    <div class="single-shop-product">
      <div class="product-upper">
           <img src="img/prime.png" alt="">
      </div>
      <h2><a href="">metodo prime video </a></h2>
      <div class="product-carousel-price">
          <ins>$25.000</ins> <del>$35.000</del>
      </div>  
      <div class="product-option-shop">
       <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="https://bit.ly/358Ii6J"><i style="font-size:24px" class="fa">&#xf232;</i></a>
      </div> 
    </div>
  </div>
</div>    
{{>footer}}